<footer class="page__footer">
  <div class="page__footer-copyright">
    <div class="page__footer-follow">
      <ul class="social-icons">
        {% if site.footer.links %}
          {% for link in site.footer.links %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
    <div class="page__footer-copyright" style="font-size: 1rem;">
      &copy; {{ site.time | date: '%Y' }} {{ site.title | default: site.name }}. All rights reserved.
    </div>
  </div>
</footer>
